body, input {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

#map {
    height: 800px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
}

input {
    width: 100%;
}

.emission-form {
    padding: 1em;
    margin-left: 30%;
    margin-right: 30%;
}

#calculate {
    vertical-align: middle;
}